:root {
  --base-1: #f1f3f5;
  --base-2: #ced4da;
  --base-3: #adb5bd;

  --surface-1: #495057;
  --surface-2: #343a40;
  --surface-3: #212529;

  --brand-1: #ccbff2;
  --brand-2: #b197fc;
  --brand-3: #9775fa;

  --accent-1: #e3d6f5;
  --accent-2: #ddc9f8;
}
