:root {
  --base-1: #f1f3f5;
  --base-2: #ced4da;
  --base-3: #adb5bd;

  --surface-1: #495057;
  --surface-2: #343a40;
  --surface-3: #212529;

  --brand-1: #ccbff2;
  --brand-2: #b197fc;
  --brand-3: #9775fa;

  --accent-1: #e3d6f5;
  --accent-2: #ddc9f8;
}

[data-theme='gold'] {
  --brand-1: #ffedd5;
  --brand-2: #fed7aa;
  --brand-3: #fdba74;

  --accent-1: #f5efdb;
  --accent-2: #fcf0c5;
}

[data-theme='seafoam'] {
  --brand-1: #99f6e4;
  --brand-2: #5eead4;
  --brand-3: #2dd4bf;

  --accent-1: #d7e0f7;
  --accent-2: #c8d4f5;
}

[data-theme='cherry'] {
  --brand-1: #fecaca;
  --brand-2: #fca5a5;
  --brand-3: #f87171;

  --accent-1: #e9dddd;
  --accent-2: #f5d9d9;
}
