:root {
  --fg-1: #f1f3f5;
  --fg-2: #ced4da;
  --fg-3: #adb5bd;

  --bg-1: #495057;
  --bg-2: #343a40;
  --bg-3: #212529;

  --brand-1: #ccbff2;
  --brand-2: #b197fc;
  --brand-3: #9775fa;

  --accent-1: #e3d6f5;
  --accent-2: #ddc9f8;
}
