@import 'prism-theme-vars/base.css';

:root {
  --prism-font-family: theme('fontFamily.serif');
  --prism-font-size: theme('fontSize.fluid-2');
  --prism-background: hsl(210, 11.1%, 10.6%);
  --prism-foreground: theme('textColor.2');
  --prism-function: theme('colors.accent.2');
  --prism-keyword: theme('colors.brand.2');
  --prism-builtin: theme('colors.accent.2');
  --prism-string: theme('textColor.3');
  --prism-comment: theme('textColor.3');
  --prism-interpolation: theme('colors.accent.1');
  --prism-constant: theme('textColor.2');
  --prism-class: theme('colors.brand.2');
  --prism-inline-padding-x: theme('spacing.2');
  --prism-property: theme('colors.brand.1');
  --prism-json-property: theme('colors.accent.2');
  --prism-selection-background: theme('backgroundColor.1');
}

.language-unknown {
  --prism-foreground: theme('colors.accent.2');
  box-decoration-break: clone;
}

.language-ts {
  --prism-class: theme('colors.accent.2');
  --prism-builtin: theme('colors.accent.1');
}

.language-tsx {
  --prism-builtin: theme('colors.accent.2');
}

.language-scss {
  --prism-property: theme('textColor.2');
  --prism-punctuation: theme('textColor.2');
  --prism-number: theme('colors.brand.2');
}

.language-graphql {
  --prism-property: theme('textColor.3');
  --prism-variable: theme('colors.accent.1');
}

.language-json {
  --prism-number: theme('colors.brand.3');
}
