@import '@fontsource/nunito';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/800.css';
@import '@fontsource/sriracha';

:root {
  --font-size-fluid-1: clamp(0.74rem, calc(0.7rem + 0.2vw), 0.84rem);
  --font-size-fluid-2: clamp(0.89rem, calc(0.82rem + 0.32vw), 1.05rem);
  --font-size-fluid-3: clamp(1.06rem, calc(0.96rem + 0.49vw), 1.31rem);
  --font-size-fluid-4: clamp(1.28rem, calc(1.13rem + 0.71vw), 1.64rem);
  --font-size-fluid-5: clamp(1.53rem, calc(1.33rem + 1.02vw), 2.05rem);
  --font-size-fluid-6: clamp(1.84rem, calc(1.55rem + 1.42vw), 2.56rem);
  --font-size-fluid-7: clamp(2.2rem, calc(1.81rem + 1.95vw), 3.2rem);
  --font-size-fluid-8: clamp(2.4rem, calc(1.7rem + 2.55vw), 4.01rem);
}
