@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typography';
@import 'spacing';
@import 'theme';
@import 'prism';

html {
  @apply font-serif font-extrabold tracking-wide
         text-base-1 bg-surface-3;
}

body::before {
  --horizontal: linear-gradient(var(--brand-1) 2px, transparent 0);
  --vertical: linear-gradient(90deg, var(--brand-1) 2px, transparent 0);
  background-image: var(--horizontal), var(--vertical);

  @apply content-blank fixed -inset-8 z-10
         opacity-[0.075] bg-[length:5rem_5rem];
}

p {
  @apply max-w-prose;
}
