:root {
  --size-fluid-1: clamp(0.19rem, calc(0.07rem + 0.61vw), 0.5rem);
  --size-fluid-2: clamp(0.44rem, calc(0.32rem + 0.61vw), 0.75rem);
  --size-fluid-3: clamp(0.63rem, calc(0.48rem + 0.73vw), 1rem);
  --size-fluid-4: clamp(0.81rem, calc(0.54rem + 1.34vw), 1.5rem);
  --size-fluid-5: clamp(1.25rem, calc(0.96rem + 1.46vw), 2rem);
  --size-fluid-6: clamp(1.63rem, calc(1.09rem + 2.68vw), 3rem);
  --size-fluid-7: clamp(2.44rem, calc(1.83rem + 3.05vw), 4rem);
  --size-fluid-8: clamp(3.25rem, calc(2.18rem + 5.37vw), 6rem);
}
